.hide {
        display: none !important;
  }
  

/* block container */

.block-hero {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  align-content: center;
  justify-content: space-around;
  max-width: 2000px;
  }

.hero_fullwidthcontainer{
  height: 100%;
  width: 100%;
  }

.hero-left-side{
  -webkit-box-flex: 1;
          flex: 1;
  flex-grow: 1;
  flex-basis: 500px;
  -webkit-box-pack: center;
          justify-content: center;
  flex-shrink: 0 ;
  overflow: auto;
  align-content: flex-end;
  }

.left-text {
  flex-basis: 500px;
  padding: 8px 48px;
  overflow: hidden;
  max-height: 60vh;
  max-width: 70ch;
  margin-right: auto;
  }

  /* if ch dont work */

  @supports (max-width: 70ch) {
        .left-text {
        max-width:  800px;
        }
      }
      

/* right side main image that are half the viewport */

.right_image{
  -webkit-box-flex: 1;
          flex: 1;
  flex-grow: 1;
  flex-basis: 500px;
  height: 650px;
  width: 30vw;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  image-rendering: auto;
  flex-shrink: 0 ;
  align-self: stretch;
  }

/* buttons */

.block-hero_button-1,
.block-hero_button-2 {
    display: inline-block;
    background-color:  #333;
    padding: 8px 24px;
    border-radius: 3px;
    color: #fff;
    border-radius: 0;
    border: solid #333 2px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px
}
.block-hero_button-1 {
    margin-right: 10px;
    background-color: #333;
    color: #333;
}

/* tweaks for rezising */

@media only screen and (max-width: 1024px) {

  .hero-fiftycontainer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
            align-items: stretch;
    }
  
    .right_image{
      -webkit-box-flex: 1;
              flex: 1;
      flex-grow: 1;
      flex-basis: 500px;
      width: 60vh;
      height: 300px;
      }
    
    .hero-left-side{
      -webkit-box-flex: 1;
              flex: 1;
      flex-grow: 1;
      flex-basis: 500px;
        flex-shrink: 0 ;
        overflow: auto;
        }

    .left-text {
       flex-basis: 500px;
      margin: 44px 22.5px;
      overflow: auto;
      }
  }

  @media only screen and (max-width: 768px) {
        .hero-fiftycontainer {
                display: block;
                }
              
      .right_image{
        height: 200px;
        width: 100%;
        }

        .left-text {
        overflow: visible;
        max-height: 100%;
        width: 100vw;
                }
        .hero-left-side{
        width: 100vw;                       
        }
                  
    }
  

